go 1.19

use (
	./aufgaben/excelfunktionen
	./aufgaben/grundlagen
	./aufgaben/predictivetext
	./code_vorlesung/dateien
	./code_vorlesung/listen
	./code_vorlesung/repls/AutomatisiertesRechnen
	./code_vorlesung/repls/go-einfuehrung
	./code_vorlesung/schachbrett
	./code_vorlesung/scopes
	./codebeispiele/grundlagen
	./codebeispiele/hallowelt
	./codebeispiele/summenberechnung
	./loesungen/grundlagen
)
